.navbar {
   padding: 10px;
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.nav > li > a:hover{
    background-color:transparent;
}

ul.nav a:hover { color: #517da2 !important; }


.navbar a { color: white; }

a.navbar-brand {
  font-size: 36px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.header-bg {
  width: 100%;
  height: 450px;
  background: url("img/header-bg.jpg");
  background-size:cover;
}

.thumbnail {
  align: center;
  text-align: center;
  height: 500px;
}

.thumbnail img {
    padding: 10px;
    width: 320px;
    height: 180px;
}

.about {
  padding-bottom: 20px;
}
